{%extends "base.html"%}

{%block head%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename="styles/styles2.css")}}" type="text/css">
{%endblock%}

{%block content%}
<div class="row">
    <div class="col-md-4">
        <div class="contentArea">
            <h3>Percentage change in Health staff</h3>
            <p><li> Only 20 counties including Kajiado, Nyeri, and Kisumu recorded an increase of core health workforce per 10,000 population between 2013 and 2019. On the other hand, counties like Embu, Nyandarua, and Garissa recorded a significant decline over the 6 years.
                <li> A possible explanation for this is that the rate of workforce increase has not been directly proportional to the population increase in the counties since devolution of health services.


</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="mapArea">
            <h3 class="text-center">Geospatial mapping</h3>
            <button class="btn btn-primary">
                <a href="{{url_for('view.health_staff_perc_change')}}" target='ifrm'><span class="buttonLinks">Load map</span></a> 
            </button>
            <iframe class="map" src="" name="ifrm"></iframe>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="graphsArea">
        <h3 class="text-center">Graphs</h3>
        <figure>
            <img src="{{url_for('static',filename='files/Core health workforce.png')}}"/>
            <figcaption class="text-center">The government should activate a more extensive community health worker network to help the core health work force, and should ensure that core health workforce changes directly proportional to population increase.</figcaption>
        </figure>>
    </div>
</div>
{%endblock%}
