{%extends "base.html"%}

{%block head%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename="styles/styles2.css")}}" type="text/css">
{%endblock%}

{%block content%}
<div class="row">
    <div class="col-md-4">
        <div class="contentArea">
            <h3>Internet Access via mobile usage</h3>
            <p><li> It is clear that many households accessed internet through their mobile/modem.</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="mapArea">
            <h3 class="text-center">Geospatial mapping</h3>
            <button class="btn btn-primary">
                <a href="{{url_for('view.internet_access')}}" target='ifrm'><span class="buttonLinks">Load map</span></a>
            </button>
            <iframe class="map" src="" name="ifrm"></iframe>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="graphsArea">
        <h3 class="text-center">Graphs</h3>
        <figure>
            <img src="{{url_for('static',filename='files/Internet through mobile.png')}}"/>
            <figcaption class="text-center">We recommend mobile-friendly telehealth delivery service portal because the most households access internet through mobile phones and modems. 
</figcaption>
        </figure>
    </div>
</div>
{%endblock%}
