{%extends "base.html"%}

{%block head%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename="styles/styles2.css")}}" type="text/css">
{%endblock%}

{%block content%}
<div class="row">
    <div class="col-md-4">
        <div class="contentArea">
            <h3>Internet Users</h3>
            <p><li> The number of internet users is still low in more than 70% of the counties.
               <li> Only 20 counties have over 10% of households with access to mobile internet.
               <li> With only 14 counties having above 20% on internet usage, it leaves 33 counties with little to no internet usage. This means that telehealth would be inaccessible to at least 70% of the counties.     

</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="mapArea">
            <h3 class="text-center">Geospatial mapping</h3>
            <button class="btn btn-primary">
                <a href="{{url_for('view.internet_users')}}" target='ifrm'><span class="buttonLinks">Load map</span></a>
            </button>
            <iframe class="map" src="" name="ifrm"></iframe>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <h3 class="text-center">Graphs</h3>
        <figure>
            <img src="{{url_for('static',filename='files/Internet users.png')}}"/>
            <figcaption class="text-center">The government should begin by rolling out telehealth in areas where internet access is high since it was one of its initiatives to achieve low cost service delivery models</figcaption>
        </figure>
</div>
{%endblock%}
