{%extends "base.html"%}

{%block head%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename="styles/styles2.css")}}" type="text/css">
{%endblock%}

{%block content%}
<div class="row">
    <div class="col-md-4">
        <div class="contentArea">
            <h3>Operation status of hospitals</h3>
            <p><li> Access to health services at the time of need is critical for any population. However, this is not the case as it can be seen in the map.
               <li> More than 70% of the counties have more than 80% of their hospitals not operating 24 hours daily, an implication of limited hospital access.
               <li> Counties such as Lamu, Isiolo, and Tana River appear to have the least number of hospitals operating whole day, late night, on weekends, and public holidays which should be of great concern.
    
 
</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="mapArea">
            <h3 class="text-center">Geospatial mapping</h3>
            <button class="btn btn-primary">
                <a href="{{url_for('view.operation')}}" target='ifrm'><span class="buttonLinks">Load map</span></a>
            </button>
            <iframe class="map" src="" name="ifrm"></iframe>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="graphsArea">
        <h3 class="text-center">Graphs</h3>
                <figure>
            <img src="{{url_for('static',filename='files/Hospitals open whole day.png')}}"/>
            <figcaption class="text-center">  A possible reason why most health facilities are not accessible at any time of the day, weekend, or public holidays is because of lack of core health workforce. Therefore, we recommend that the government makes a special arrangement where CHWs can assist in providing basic health services such as first aid.
</figcaption>
        </figure>     
    </div>
   
</div>
{%endblock%}
