{%extends "base.html"%}

{%block head%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename="styles/styles2.css")}}" type="text/css">
{%endblock%}

{%block content%}
<div class="row">
    <div class="col-md-4">
        <div class="contentArea">
            <h3>Places of Birth</h3>
            <p><li> Over 50% of births in the Northern counties such as Marsabit, Wajir, Turkana, and Mandera were in non health facilities. Therefore, there is still limited access to maternal healthcare in the Nothern region of the country.
               <li> Despite the Linda Mama program being in place to ensure free maternity services in public hospitals, there exists quite a significant number of births that occurred in a non-healthy facility with Narok and Nakuru recording the highest number.

</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="mapArea">
            <h3 class="text-center">Geospatial mapping</h3>
            <button class="btn btn-primary">
                <a href="{{url_for('view.place_of_birth')}}" target='ifrm'><span class="buttonLinks">Load map</span></a>
            </button>
            <iframe class="map" src="" name="ifrm"></iframe>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="graphsArea">
        <h3 class="text-center">Graphs</h3>
        <figure>
            <img src="{{url_for('static',filename='files/Place of birth.png')}}"/>
            <figcaption class="text-center">We would recommend a more extensive community health worker (CHW) network in places where there exists more births occurring in a non-health facility. The government should ensure that the workers are well trained to act as professional midwives.
</figcaption>
        </figure>
    </div>
</div>
{%endblock%}
